.the_wheel {
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
    width:434px;
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
}